* {
  font-family: "Inter", sans-serif;
}

body {
  background-color: mistyrose;
}

.wrapper {
  max-width: 1600px;
  margin: auto;
  padding: 1rem;
}

.add-numbers-wrapper,
.reverse-input-wrapper {
  padding: 1rem;
}
